@font-face {
  font-family: 'SourceSansPro-Regular';
  src: url('./fonts/SourceSansPro-Regular.ttf');
}

@font-face {
  font-family: 'SourceSansPro-Black';
  src: url('./fonts/SourceSansPro-Black.ttf');
}

@font-face {
  font-family: 'SourceSansPro-Bold';
  src: url('./fonts/SourceSansPro-Bold.ttf');
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #e0e0e0;
}

::-webkit-scrollbar-track:hover {
  background: #555;
}

::-webkit-slider-thumb {
  background: #888;
}

html,
body,
#root,
.app,
.content {
  height: 100%;
  width: 100%;
  font-family: 'SourceSansPro-Regular', serif;
}

.app {
  display: flex;
  position: relative;
}